.spell-buttons__button--left-top,
.spell-buttons__button--left-bottom,
.spell-buttons__button--right-top {
  position: fixed;
  z-index: 1000;
  width: 100px;
  height: 100px;
  background-color: red;
}

.spell-buttons__button--left-top {
  bottom: calc(25% + 140px);
  left: 5%;
}

.spell-buttons__button--left-bottom {
  bottom: 25%;
  left: calc(4% + 140px);
}

.spell-buttons__button--right-top {
  bottom: calc(25% + 140px);
  right: 5%;
}

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
