body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.spell-buttons__button--left-top,
.spell-buttons__button--left-bottom,
.spell-buttons__button--right-top {
  position: fixed;
  z-index: 1000;
  width: 100px;
  height: 100px;
  background-size: contain;
  background-position: center;
}
.spell-buttons__button--left-top[data-button-id="feist"],
.spell-buttons__button--left-bottom[data-button-id="feist"],
.spell-buttons__button--right-top[data-button-id="feist"] {
  background-image: url(../images/feist.png);
}
.spell-buttons__button--left-top[data-button-id="fire"],
.spell-buttons__button--left-bottom[data-button-id="fire"],
.spell-buttons__button--right-top[data-button-id="fire"] {
  background-image: url(../images/fire.png);
}
.spell-buttons__button--left-top[data-button-id="ice"],
.spell-buttons__button--left-bottom[data-button-id="ice"],
.spell-buttons__button--right-top[data-button-id="ice"] {
  background-image: url(../images/ice.png);
}

.spell-buttons__button--left-top {
  bottom: calc(50% - 1080px / 2 + 40px);
  left: calc(50% - 1920px / 2 + 60px);
}

.spell-buttons__button--left-bottom {
  bottom: calc(50% - 1080px / 2 + 40px);
  left: calc(50% - 1920px / 2 + 220px);
}

.spell-buttons__button--right-top {
  bottom: calc(50% - 1080px / 2 + 40px);
  right: calc(50% - 1920px / 2 + 60px);
}
